<div class="container">
    <div *ngFor="let post of posts" class="card">
      <div class="card-body">
        <h4 class="card-title">{{post.id}}</h4>
        <h4 class="card-title">{{post.user_id}}</h4>
        <h4 class="card-title">{{post.title}}</h4>
        <h4 class="card-title">{{post.body}}</h4>
        
        <button type="button" class="btn btn-primary" (click)="deletePost(post.id)">DELETE</button>
        <button routerLink="/comment" type="button" class="btn btn-primary" (click)="gotoComment(post.id)">COMMENTA</button>
        <!-- Button triggers collapse -->
      <a
      class="btn btn-primary"
      data-mdb-toggle="collapse"
      href="#collapseWithScrollbar"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      (click)="getPostComments(post.id)"
      >
      Comments
      </a>
      <!-- Collapsed content -->
      <div class="collapse mt-3 scroll-section" id="collapseWithScrollbar"  style="max-width: 500px">
      <h1>COMMENTI</h1>
      <div *ngFor="let item of comments">
        <p>{{item.id}}</p>
        <p>{{item.post_id}}</p>
        <p>{{item.name}}</p>
        <p>{{item.email}}</p>
        <p>{{item.body}}</p>
      </div>
      </div>
      </div>
    </div>
</div>